<div class="banner" style="background-image: linear-gradient(to right, rgba(10, 10, 10), rgba(0, 0, 0, 0.5)), url(<%= cl_image_path "https://res.cloudinary.com/yahiro/image/upload/v1642132950/development/movies.jpg"%>);">
  <div class="m-5">
    <h1>Movie <br>Watch <strong style="color: red;">List</strong></h1>
    <p><span id="banner-typed-text"></span></p>
       <%= link_to "Get Started", lists_path, class: "btn btn-danger" %>
  </div>
</div>