<div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.8)), url(<%= cl_image_path "https://res.cloudinary.com/yahiro/image/upload/v1641942546/development/movieBackground_dmgpkl.png"%>);">
  <div>
    <h1>Movie Watch List</h1>
    <p>Lists of all movies, Simplified for you</p>
    <%= link_to "Get Started", lists_path, class: "btn btn-danger" %>
  </div>
</div>