<div class="banner">
  <div class="m-5">
    <h1>Movie <br>Watch <strong style="color: rgb(255,40,0);">List</strong></h1>
    <p><span id="banner-typed-text"></span></p>
       <%= link_to "Get Started", lists_path, class: "btn btn-danger" %>
  </div>
</div>