
<div class="form-header">
    <h3>Add Movie</h3>
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.association :movie %>
      <%= f.input :comment %>
      <%= f.submit "Add movie",  class: "btn btn-primary" %>
    <% end %>
</div>