<div class="card text-white p-sm-3" style="background: black; height: 100%; border: 1px solid rgba(255,255,255,0.3);">
  <div class="card-body d-flex flex-column justify-content-center" style="font-size: 0.7rem">
    <h5 class="card-title align-self-center"><i class="fas fa-plus-circle fa-md" style="color:white"></i></h5>
    <p class="card-text text-center">Add More</p>
  </div>
</div>