<div class="p-4">
  <div class="d-flex justify-content-around align-items-center">
    <div class="col-sm-3 text-left">
      <p><small>Made with <i class="far fa-heart" style="color:red;"></i> by De.Bored team <i class="fas fa-at"></i> Le Wagon</small></p>
    </div>
    <div class="col-sm-3 text-right">
      <p><small><i class="far fa-copyright" style="color: white;"></i> is-kondo.herokuapp.com</small></p>
    </div>

  </div>
</div>
