<nav class="navbar navbar-expand-lg navbar-dark" style="border-bottom: 4px solid rgb(48, 48, 48);">
    <a class="navbar-brand" href="/"><i class="fas fa-ticket-alt"></i> Watch List</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/lists">My List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/movies">Movies</a>
      </li>
    </ul>
      <span class="nav-item pr-lg-4">
        <%= link_to "Profile", root_path %>
      </span>
  </div>
</nav>