// Specific CSS for your home-page
.banner{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin-left: calc(50% - 50vw);
    display: flex;
    color: white;
    text-align: left;
    justify-content: space-between;
    align-items: center;

    h1, p{
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.541);
    }
}

.banner h1{
    font-size: 56px;
    font-weight: bold;
}

.banner p, .banner a{
    font-size: 1.3rem;
}
