// Specific CSS for your home-page
.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.8)), url("movieBackground.jpg");
    width: 100vw;
    height: 100vh;
    margin-left: calc(50% - 50vw);
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;

    h1, p{
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.541);
    }
}

.banner h1{
    font-size: 56px;
    font-weight: bold;
}

.banner p, .banner a{
    font-size: 24px;
}
