// Import page-specific CSS files here.
@import "home";
@import "new";
@import "show";
.index-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(48,48,48);
    padding-bottom: 16px;
}

#index-card{
    margin: 16px;
    transition: 0.3s;
}

#index-card:hover{
    transform: translateY(-5%);
}

.card-img-overlay{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-size: cover;

    h5{
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.514);
        font-weight: bold;
    }
}

.cards{
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.index-header{
    padding-top: 24px;

    h3{
        font-size: 32px;
        color: white;
    }
}

