<div class="index-header d-flex flex-wrap  pt-4 px-lg-4">
  <h3>Avalaible Movies <small>(<%= @movies.count %>)</small></h3>
  <%= render "components/searchBar", path: movies_path, search: :search_movie %>
</div>
<div id="movie-cards" class="pt-5 movie-cards d-flex justify-content-center flex-wrap">
  <% @movies.each do |movie| %>
    <%= link_to movie_path(movie) do  %>
    <div id="card" style="width:auto; height:auto; text-align:center; background: rgb(26,26,26); margin: 3px;">
      <%= image_tag movie.poster_url, style:"width:20vw; height:auto", id:"movie-img" %>
    <% end %>
    </div>
  <% end %>
</div>



<%# "background: rgb(26,26,26); %>
<%# color: rgb(140,140,140); %>