// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
@import "jquery-bar-rating/dist/themes/css-stars.css";
@import "jquery-bar-rating/dist/themes/fontawesome-stars.css";
@import 'select2/dist/css/select2.css';
@import "@splidejs/splide/dist/css/splide.min.css";

// Your CSS partials
@import "components/index";
@import "components/footer"; 
@import "pages/index";
@import "components/form";

.row{
  margin-right: 0 !important;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}

.new-bookmark.inactive{
  pointer-events: none;
}

.main-container{
    width: 95vw;
    margin: 0 auto;
    font-family: cursive;
}

@media (min-width: 1200px) and (max-width: 1400px)  {
  .splide__track{
     width: 90vw;
     margin: 0 auto;
  }
    
}

  @media (max-width: 720px) {
    /* For a screen < 720px, this CSS will be read */
    .main-container {
      width: 560px;
    }

  }
  
  @media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */
    .main-container {
      width: 90vw;
    }

    #card-img-mobile{
      object-position: top !important;
    }

    .footer{
      text-align: center;
    }

    .index-header {
      padding-left: 8px;
      
      h3{
      font-size: 1.2rem;
      }
    }
    
    .form-header{
      width: 320px;
      margin: 0 auto;
    }

    #inner-footer p{
      font-size: 0.7em;
    }

    h2{
      font-size: 1.2rem;
    }

    h1.card-title{
      font-size: 1.2rem !important;
    }
  
    #card-img-mobile{
      width: auto !important;
      font-size: 0.8rem !important;
    }
    #card-overlay{
      align-items: center !important;
      flex-direction: row !important;
      background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)) !important;
    }
    
    #search-form{
      width: 90vw !important;
      text-align: center !important;
    }

    #search-button{
      display: none;
    }
    #movie-cards{
      #card{
        height: auto !important;
      }
      #movie-img{
        height: auto !important;
        width: 28vw !important;
      }
    }

}