// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
@import "jquery-bar-rating/dist/themes/css-stars.css";
@import "jquery-bar-rating/dist/themes/fontawesome-stars.css";
@import 'select2/dist/css/select2.css';
@import "@splidejs/splide/dist/css/splide.min.css";

// Your CSS partials
@import "components/index"; 
@import "pages/index";



body{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}
.main-container{
    width: 1200px;
    margin: 0 auto;
    font-family: cursive;
}

textarea.form-control{
  height: 100px;
  resize: none;
}

#footer{
  border-top: 3px solid rgb(48,48,48);
  margin-top: 64px;
  color: white;
  background: linear-gradient(black, rgb(48,48,48));
  opacity: 0.8;

  h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  p{
    font-weight: lighter;
    opacity: 0.9;
    font-size: 1rem;
  }
  ul{
    padding-left: 0;
    list-style: none;
  }
}

#inner-footer{
  p{
    font-weight: lighter;
    opacity: 0.5;
    margin: 0;
    font-size: 1em;
  }
}


@media (max-width: 960px) {
    /* For a screen < 960px, this CSS will be read */
    .main-container {
      width: 720px;
    }
  }
  
  @media (max-width: 720px) {
    /* For a screen < 720px, this CSS will be read */
    .main-container {
      width: 560px;
    }
  }
  
  @media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */
    .main-container {
      width: 100vw;
    }
    .index-header h3{
      font-size: 1.5rem;
    }
    .form-header{
      width: 360px;
    }

    #inner-footer p{
      font-size: 0.7em;
    }
  }